.card-widget.card-cheesy_pick-up_lines
  .card-content
    .item-headline
      i.fas.fa-heart(style="color:pink")
      span= _p('土味情话')
    #cheesy_pick-up_lines-container
script(data-pjax src=("/js/custom/cheesy_pick-up_lines.js"))