  @font-face {
    font-family:'arzhu';
    src:url('https://jsd.cdn.zzko.cn/gh/res-256/pic@main/202210110047152.ttf'); 
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}

#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
}

#aside-content .card-widget {
    background: var(--light_bg_color)
}

#web_bg {
    background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
}

.notice-logo {
  line-height: 22px;
  margin-right: 8px;
  transition: 0.3s;
}
#notice {
  height: 47px;
  background-color: white;
  color: var(--font-color);
  margin-top: 20px;
  padding: 12px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
[data-theme="dark"] #notice {
  background: black !important;
}
#notice span {
  white-space: nowrap;
}
.swiper-wrapper {
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.swiper-wrapper .swiper-slide {
  width: 100%;
  text-align: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
  font-weight: bold;
}
.swiper-slide:hover {
  color: #1fc7b6;
}
#noticeList {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.notice-enter {
  line-height: 25px;
  margin-left: 8px;
  transition: 0.3s;
}

@font-face {
font-family: 'iconfont';
url('/fonts/iconfont.woff2') format('woff2')，
url('/fonts/iconfont.woff') format('woff'),
url('/fonts/iconfont.ttf') format('truetype')；
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengriliwu:before {
  content: "\e600";
}

.icon-airplay:before {
  content: "\e668";
}

.icon-attentionfilled:before {
  content: "\e604";
}

.icon-circularprint:before {
  content: "\e685";
}

.icon-24:before {
  content: "\e64e";
}

.icon-icon-test:before {
  content: "\e6b3";
}

.icon-chongwu:before {
  content: "\ec57";
}

.icon-dengziA:before {
  content: "\ec8e";
}

.icon-xinjianwenjianjia:before {
  content: "\e60e";
}

.icon-haze-2-line:before {
  content: "\e601";
}

#cheesy_pick-up_lines-container li {
  list-style-type: none;
  position: relative;
  padding-left: 26px;
}
#cheesy_pick-up_lines-container li:before {
  top: 8px;
  left: 2px;
  padding: 5px;
  border: 3px solid pink;
  border-radius: 10px;
  content: "";
  position: absolute;
}